// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.myform input[type=text] {
  width: 71%;
  padding: 15px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.myform input[type=submit] {
  padding: 15px 20px;
  background-color: #337AB7;
  border: 1px solid #337AB7;
  color: #ffffff;
  font-weight: 800;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat {
  padding: 5px 20px;
  border-left: 5px solid #DDDDDD;
  margin-bottom: 20px;
}

.answer {
  background-color: #FEFBE1;
}
